@use "variables" as *;
@use "mixins" as *;

form {
label {
    color: $negro;
}

input::placeholder,
textarea::placeholder {
    color: $gris-claro;
}
}

.formulario-contacto {
.mb-3 {
    background-color: $negro;
    padding: 1rem;
    border-radius: 0.6rem;

    label,
    p {
    color: $blanco;
    }

    input,
    textarea {
    width: 100%;
    color: $blanco;
    background-color: transparent;
    border: 1px solid $gris-borde;

    &:focus {
        outline: none;
        border-color: $blanco;
    }
    }
}
}

.btn-formulario {
@include btn-secundario;
}