* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 16px;
scroll-behavior: smooth;
}

body {
font-family: sans-serif;
background-color: $color-principal;
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

a {
text-decoration: none;
color: $blanco;
transition: color 0.2s ease;
}

h2,
p {
background-color: transparent;
color: $negro;
}

h4,
b {
color: $blanco;
}

button {
background: none;
border: none;
cursor: pointer;
font-family: inherit;
}


.btn-primario {
@include btn-primario;
}

.btn-secundario {
@include btn-secundario;
}